infra/scheduler/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "f1-fantasy-live-score-scheduler",
      "metadata": {
        "description": "Name of the Logic App resource."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App."
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure subscription ID where the ACI resource lives."
      }
    },
    "aciResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource group containing the ACI container group."
      }
    },
    "containerGroupName": {
      "type": "string",
      "defaultValue": "f1-fantasy-live-score-aci",
      "metadata": {
        "description": "Name of the ACI container group to start/stop."
      }
    },
    "telegramBotToken": {
      "type": "securestring",
      "metadata": {
        "description": "Telegram bot token used to post Logic App failure notifications."
      }
    }
  },
  "variables": {
    "aciStartUri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('aciResourceGroup'), '/providers/Microsoft.ContainerInstance/containerGroups/', parameters('containerGroupName'), '/start?api-version=2023-05-01')]",
    "aciStopUri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('aciResourceGroup'), '/providers/Microsoft.ContainerInstance/containerGroups/', parameters('containerGroupName'), '/stop?api-version=2023-05-01')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "telegramBotToken": { "type": "SecureString" }
          },
          "triggers": {
            "Poll_Schedule": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": ["Friday", "Saturday", "Sunday", "Monday"],
                  "hours": [
                    0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,
                    17, 18, 19, 20, 21, 22, 23
                  ],
                  "minutes": [5, 35]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Try": {
              "type": "Scope",
              "actions": {
                "Current_Time": {
                  "type": "Compose",
                  "inputs": "@utcNow()",
                  "runAfter": {}
                },
                "Fetch_Race_Schedule": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://api.jolpi.ca/ergast/f1/current/next.json"
                  },
                  "runAfter": {}
                },
                "Get_Race_Object": {
                  "type": "Compose",
                  "inputs": "@body('Fetch_Race_Schedule')?['MRData']?['RaceTable']?['Races']?[0]",
                  "runAfter": {
                    "Fetch_Race_Schedule": ["Succeeded"]
                  }
                },
                "Is_Quali_Window_Active": {
                  "type": "Compose",
                  "inputs": "@if(equals(outputs('Get_Race_Object'), null), false, and(greaterOrEquals(ticks(outputs('Current_Time')), ticks(addMinutes(concat(outputs('Get_Race_Object')?['Qualifying']?['date'], 'T', outputs('Get_Race_Object')?['Qualifying']?['time']), -30))), lessOrEquals(ticks(outputs('Current_Time')), ticks(addMinutes(concat(outputs('Get_Race_Object')?['Qualifying']?['date'], 'T', outputs('Get_Race_Object')?['Qualifying']?['time']), 90)))))",
                  "runAfter": {
                    "Get_Race_Object": ["Succeeded"],
                    "Current_Time": ["Succeeded"]
                  }
                },
                "Is_Sprint_Window_Active": {
                  "type": "Compose",
                  "inputs": "@if(or(equals(outputs('Get_Race_Object'), null), equals(outputs('Get_Race_Object')?['Sprint'], null)), false, and(greaterOrEquals(ticks(outputs('Current_Time')), ticks(addMinutes(concat(outputs('Get_Race_Object')?['Sprint']?['date'], 'T', outputs('Get_Race_Object')?['Sprint']?['time']), -30))), lessOrEquals(ticks(outputs('Current_Time')), ticks(addMinutes(concat(outputs('Get_Race_Object')?['Sprint']?['date'], 'T', outputs('Get_Race_Object')?['Sprint']?['time']), 90)))))",
                  "runAfter": {
                    "Get_Race_Object": ["Succeeded"],
                    "Current_Time": ["Succeeded"]
                  }
                },
                "Is_Race_Window_Active": {
                  "type": "Compose",
                  "inputs": "@if(equals(outputs('Get_Race_Object'), null), false, and(greaterOrEquals(ticks(outputs('Current_Time')), ticks(addMinutes(concat(outputs('Get_Race_Object')?['date'], 'T', outputs('Get_Race_Object')?['time']), -30))), lessOrEquals(ticks(outputs('Current_Time')), ticks(addMinutes(concat(outputs('Get_Race_Object')?['date'], 'T', outputs('Get_Race_Object')?['time']), 180)))))",
                  "runAfter": {
                    "Get_Race_Object": ["Succeeded"],
                    "Current_Time": ["Succeeded"]
                  }
                },
                "Should_Be_Running": {
                  "type": "Compose",
                  "inputs": "@or(outputs('Is_Quali_Window_Active'), outputs('Is_Sprint_Window_Active'), outputs('Is_Race_Window_Active'))",
                  "runAfter": {
                    "Is_Quali_Window_Active": ["Succeeded"],
                    "Is_Sprint_Window_Active": ["Succeeded"],
                    "Is_Race_Window_Active": ["Succeeded"]
                  }
                },
                "Check_ACI_State": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": ["@outputs('Should_Be_Running')", true]
                      }
                    ]
                  },
                  "actions": {
                    "Start_ACI": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "[variables('aciStartUri')]",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://management.azure.com/"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "else": {
                    "actions": {
                      "Stop_ACI": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "[variables('aciStopUri')]",
                          "authentication": {
                            "type": "ManagedServiceIdentity",
                            "audience": "https://management.azure.com/"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  },
                  "runAfter": {
                    "Should_Be_Running": ["Succeeded"]
                  }
                }
              },
              "runAfter": {}
            },
            "Notify_Log_Channel_On_Failure": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{concat('https://api.telegram.org/bot', parameters('telegramBotToken'), '/sendMessage')}",
                "headers": { "Content-Type": "application/json" },
                "body": {
                  "chat_id": -1002298860617,
                  "text": "@{concat('🚨 Logic App ', workflow().name, ' failed\n\nRun: ', workflow().run.name, '\nTime (UTC): ', utcNow(), '\n\nFailed actions:\n', take(string(result('Try')), 3500))}"
                }
              },
              "runtimeConfiguration": {
                "secureData": { "properties": ["inputs", "outputs"] }
              },
              "runAfter": {
                "Try": ["Failed", "TimedOut"]
              }
            },
            "Notify_Errors_Channel_On_Failure": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{concat('https://api.telegram.org/bot', parameters('telegramBotToken'), '/sendMessage')}",
                "headers": { "Content-Type": "application/json" },
                "body": {
                  "chat_id": -5167373779,
                  "text": "@{concat('🚨 Logic App ', workflow().name, ' failed\n\nRun: ', workflow().run.name, '\nTime (UTC): ', utcNow(), '\n\nFailed actions:\n', take(string(result('Try')), 3500))}"
                }
              },
              "runtimeConfiguration": {
                "secureData": { "properties": ["inputs", "outputs"] }
              },
              "runAfter": {
                "Try": ["Failed", "TimedOut"]
              }
            },
            "Terminate_Run_As_Failed": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "LogicAppScopeFailed",
                  "message": "Try scope failed; see Notify_* action outputs for details."
                }
              },
              "runAfter": {
                "Notify_Log_Channel_On_Failure": ["Succeeded", "Failed", "TimedOut"],
                "Notify_Errors_Channel_On_Failure": ["Succeeded", "Failed", "TimedOut"]
              }
            }
          }
        },
        "parameters": {
          "telegramBotToken": {
            "value": "[parameters('telegramBotToken')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
      "metadata": {
        "description": "Assign this principal Contributor role on the ACI resource: az role assignment create --assignee <principalId> --role Contributor --scope /subscriptions/{subId}/resourceGroups/{rg}/providers/Microsoft.ContainerInstance/containerGroups/{name}"
      }
    }
  }
}
